---
import BaseLayout from "../layouts/BaseLayout.astro";
import HistoryForm from "../components/HistoryForm";
---

<BaseLayout title="WELIKECHESS - Historial de Partidas">
  <main class="min-h-screen bg-[#050505] relative overflow-hidden">
    <div class="absolute top-0 left-1/2 -translate-x-1/2 w-[1000px] h-[600px] bg-[#d4af37]/5 blur-[120px] rounded-full pointer-events-none"></div>
    
    <HistoryForm client:load />
  </main>
</BaseLayout>

<style is:global>
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.02);
    border-radius: 10px;
    margin-block: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(212, 175, 55, 0.1);
    border-radius: 10px;
    transition: all 0.3s;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(212, 175, 55, 0.4);
  }

  /* Aseguramos que Cinzel esté disponible */
  @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap');
</style>